# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal
*.db-journal
venv/
.env
requirements/.env

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static and media files
/staticfiles/
/media/
/static/


# VS Code
.vscode/

# IDEs and editors
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.old
*.orig
*.rej


*.log

# Celery
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule.bak
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid
celerybeat.log

.DS_Store
.python-version
*.rdb